#todos{
  font-size: 1.2rem;
  text-align: center; 
  background-color: #ced4da; 
}
button{
  font-size: 1.4rem;
  padding: 10px 30px;
  background-color: #0b7285;
  border-radius: 30px;
}
h1{
  font-size: 2.4rem;
  text-align: center;
}
#addTodoForm{
  font-size: 1.4rem;
  text-align: center;
}
#todoInput{
  font-size: 1.4rem;
}
label{
  font-size: 1.6rem;
}
/* #add{
  padding: 10px 30px;
} */

  